@model WebApplication1.Areas.CuuHo.Models.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Đăng nhập hệ thống</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Assets/login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/login/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-login100" style="        background-image: url('');
        background-image: url('../../../../Assets/login/images/bg.jpg');">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="login100-form-title p-b-41">
                    Đăng nhập hệ thống
                </span>
                @using (Html.BeginForm())
                {
                    <div class="col">
                        <div class="form-group">
                            <label class="lb" style="color :white">Tên đăng nhập</label>
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "Mời nhập tên đăng nhập", @autofocus = "autofocus" })
                        </div>
                        <div class="form-group">
                            <label class="lb" style="color :white">Mật khẩu</label>
                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "Mời nhập mật khẩu", type = "password" })
                        </div>
                        <div class="form-group">
                            <button class="btn btn-danger btn-block" type="submit">Đăng nhập</button>
                            @*<button class="btn btn-primary btn-block" type="submit">Đăng kí</button>*@
                        </div>
                    </div>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })

                }
            </div>
        </div>
    </div>
        <div id="dropDownSelect1"></div>
    <!--===============================================================================================-->
    <script src="~/Assets/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Assets/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Assets/login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/login/js/main.js"></script>

</body>
</html>